Part 1 ,of the assignment :-

In [ ]:
import os
import csv
import time
import matplotlib.pyplot as plt
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

Reading the csv file and making the data as the correct data type :-

In [ ]:
import pandas as pd

data1=pd.read_csv('housing.csv')
data1=data1.dropna()
print(data1.describe())
d1=data1.to_numpy()

In [ ]:
for i in range(len(d1)):
    d1[i][0]=d1[i][0]/-119.570689
    d1[i][1]=d1[i][1]/35.633221 
    d1[i][2]=d1[i][2]/28.633094
    d1[i][3]=d1[i][3]/2636.504233
    d1[i][4]=d1[i][4]/537.870553 
    d1[i][5]=d1[i][5]/1424.946949
    d1[i][6]=d1[i][6]/499.433465 
    d1[i][7]=d1[i][7]/3.871162
    d1[i][8]=d1[i][8]/206864.413155
    if d1[i][9]=='INLAND':
        d1[i][9]=0
    elif d1[i][9]=='NEAR BAY':
        d1[i][9]=1
    elif d1[i][9]=='NEAR OCEAN':
        d1[i][9]=2
    elif d1[i][9]=='ISLAND':
        d1[i][9]=3
    else:
        d1[i][9]=4

In [ ]:
# In this ,the rows[0] is the y and the rest of the rows are the x
x1=[]
y1=[]
for i in range(len(d1)):
    x1.append([1,d1[i][0],d1[i][1],d1[i][2],d1[i][3],d1[i][4],d1[i][5],d1[i][6],d1[i][7],d1[i][9]])
    y1.append(d1[i][8])
print(len(x1))
print(len(y1))
theta1=[0.0]*len(x1[0])
print(theta1)
print(x1[0])
print(y1[0])

In [ ]:
def cost1(theta,x,y):
    m=len(x)
    tc=0
    for i in range(m):
        sum=0
        for j in range(len(x[0])):
            sum+=theta[j]*x[i][j]
        sum-=y[i]
        sum=sum**2
        tc+=sum
    return tc/(2*m)

In [ ]:
def mgd1(x,y,theta,alpha,n=10000):
    start_time=time.time()
    theta=theta.copy()
    m=len(x)
    J_his=[]
    for _ in range(n):
        grads=[0.0]*len(theta)
        for j in range(m):
            y_hat=sum(theta[k]*x[j][k] for k in range(len(theta)))
            err=y_hat-y[j]
            for k in range(len(theta)):
                grads[k]+=err*x[j][k]
        for k in range(len(theta)):
            theta[k]-=alpha*grads[k]/m
        J_his.append(cost1(theta,x,y))
    dur=time.time()-start_time
    return theta,J_his,dur

In [ ]:
# Ensure theta has the correct length
theta1,J_his1,dur=mgd1(x1,y1,theta1,0.01,1000)
print(theta1)
print(dur)
print(d1[0])

In [ ]:
print(d1[0])

Graph for $J_{\text{his}}$ Vs Iterations

In [ ]:
plt.plot(J_his1)
plt.xlabel('Iterations')
plt.ylabel('Cost')
plt.title('Cost Function over Iterations')
plt.show()

Part 2 ,of the assignment :-

In [ ]:
import numpy as np
import pandas as pd

The below code will only be run once

In [ ]:
x2=np.delete(d1,8,axis=1)
y2=d1[:,8]
print(x2[0])
print(y2[0])

In [ ]:
# This code will be run only once
x2=np.concatenate([np.ones((len(x2),1)),x2],axis=1)

In [ ]:
print(x2[0])
theta2=np.zeros(len(x2[0]),dtype=float)
theta2=theta2.reshape(-1)
print(theta2.shape)
print(theta2)
print(x2.shape)

In [ ]:
def cost2(theta,x,y):
    y_hat=np.dot(x,theta.T)
    err=y_hat-y
    serr=err**2
    return np.sum(serr)/(2*len(x))

In [ ]:
def mgd2(x,y,theta,alpha,n=10000):
    stt=time.time()
    theta=theta.copy()
    m=len(x)
    J_his=[]
    for _ in range(n):
        y_hat=(np.dot(x,theta.T)).T
        err=y_hat-y
        grads=np.dot(err,x)/m
        theta=theta-alpha*grads
        J_his.append(cost2(theta,x,y))
    dur=time.time()-stt
    return theta,J_his,dur

In [ ]:
theta2,J_his2,dur2=mgd2(x2,y2,theta2,0.01,1000)
print(dur2)
print(theta2)
plt.plot(J_his2)
plt.xlabel('Iterations')
plt.ylabel('Cost')
plt.title('Cost Function over Iterations')
plt.show()

Part 3 of the assignment :-

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [ ]:
print(x1[0])
print(x2[0])

In [ ]:
stt3=time.time()
x3=np.delete(x2,0,axis=1)
x_train,x_test,y_train,y_test=train_test_split(x3,y2,test_size=0.2,random_state=42)
reg=LinearRegression().fit(x_train,y_train)
dur3=time.time()-stt3
print(reg.coef_)
print(theta2)
print(theta1)
print(reg.score(x_test,y_test))
print(reg.score(x_train,y_train))
print(dur3)

In [ ]:
x_test_2=np.concatenate([np.ones((len(x_test),1)),x_test],axis=1)
x_train_2=np.concatenate([np.ones((len(x_train),1)),x_train],axis=1)
y_train_pred1=np.dot(x_train_2,theta1)
y_train_pred2=np.dot(x_train_2,theta2)
y_test_pred1=np.dot(x_test_2,theta1)
y_test_pred2=np.dot(x_test_2,theta2)

In [24]:
r_test2_1=r2_score(y_test,y_test_pred1)
r_test2_2=r2_score(y_test,y_test_pred2)

# Print scores
print("R² score for regression model on test set for theta1:",r_test2_1)
print("R² score for regression model on test set for theta2:",r_test2_2)
print("R² score for regression model on test set:",reg.score(x_test,y_test))
print("R² score for regression model on training set for theta1:",r2_score(y_train,y_train_pred1))
print("R² score for regression model on training set for theta2:",r2_score(y_train,y_train_pred2))
print("R² score for regression model on training set:",reg.score(x_train,y_train))

R² score for regression model on test set for theta1: 0.5700636171849596
R² score for regression model on test set for theta2: 0.5700636171849596
R² score for regression model on test set: 0.643511270554038
R² score for regression model on training set for theta1: 0.5746799142012735
R² score for regression model on training set for theta2: 0.5746799142012735
R² score for regression model on training set: 0.6412524458438154

In [25]:
print("Mean Absolute Error for on test set for theta1:",mean_absolute_error(y_test,y_test_pred1))
print("Mean Absolute Error for on test set for theta2:",mean_absolute_error(y_test,y_test_pred2))
print("Mean Absolute Error for on test set for regression model:",mean_absolute_error(y_test,reg.predict(x_test)))
print("Mean Absolute Error for on training set for theta1:",mean_absolute_error(y_train,y_train_pred1))
print("Mean Absolute Error for on training set for theta2:",mean_absolute_error(y_train,y_train_pred2))
print("Mean Absolute Error for on training set for regression model:",mean_absolute_error(y_train,reg.predict(x_train)))

Mean Absolute Error for on test set for theta1: 0.2782679054153057
Mean Absolute Error for on test set for theta2: 0.2782679054153057
Mean Absolute Error for on test set for regression model: 0.24658959200380837
Mean Absolute Error for on training set for theta1: 0.2715105236993384
Mean Absolute Error for on training set for theta2: 0.2715105236993384
Mean Absolute Error for on training set for regression model: 0.24204636460409035

In [26]:
print("Mean Squared Error for on test set for theta1:",mean_squared_error(y_test,y_test_pred1))
print("Mean Squared Error for on test set for theta2:",mean_squared_error(y_test,y_test_pred2))
print("Mean Squared Error for on test set for regression model:",mean_squared_error(y_test,reg.predict(x_test)))
print("Mean Squared Error for on training set for theta1:",mean_squared_error(y_train,y_train_pred1))
print("Mean Squared Error for on training set for theta2:",mean_squared_error(y_train,y_train_pred2))
print("Mean Squared Error for on training set for regression model:",mean_squared_error(y_train,reg.predict(x_train)))

Mean Squared Error for on test set for theta1: 0.13739334710481724
Mean Squared Error for on test set for theta2: 0.1373933471048172
Mean Squared Error for on test set for regression model: 0.11392192357164449
Mean Squared Error for on training set for theta1: 0.13156182895278654
Mean Squared Error for on training set for theta2: 0.13156182895278654
Mean Squared Error for on training set for regression model: 0.11096932859047169